/* CSS Document */
.post-body {
	height: 220px;
}

.date {
	color: #777;
}

.glyphicon-plus {
	font-size: 1.4em;
}

.glyphicon-edit {
	font-size: 1.4em;
}

.add-post:hover {
	color: rgb(18, 18, 18) !important;
}

.profile {
	min-height: 355px;
	display: inline-block;
}

.thumbnail {
	padding: 0px;
}

.comment {
	position: relative;
}

.comment>.panel-heading:after, .comment>.panel-heading:before {
	position: absolute;
	top: 11px;
	left: -16px;
	right: 100%;
	width: 0;
	height: 0;
	display: block;
	content: " ";
	border-color: transparent;
	border-style: solid solid outset;
	pointer-events: none;
}

.comment>.panel-heading:after {
	border-width: 7px;
	border-right-color: #f7f7f7;
	margin-top: 1px;
	margin-left: 2px;
}

.comment>.panel-heading:before {
	border-right-color: #ddd;
	border-width: 8px;
}