<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>broad</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>trainning.broad.servlet.filter.AuthenticationFilter</filter-class>
	</filter>

	<filter>
		<filter-name>PostEditFilter</filter-name>
		<filter-class>trainning.broad.servlet.filter.post.EditFilter</filter-class>
	</filter>

	<filter>
		<filter-name>PostDeleteFilter</filter-name>
		<filter-class>trainning.broad.servlet.filter.post.DeleteFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CommentDeleteFilter</filter-name>
		<filter-class>trainning.broad.servlet.filter.comment.DeleteFilter</filter-class>
	</filter>

	<filter>
		<filter-name>UserDeleteFilter</filter-name>
		<filter-class>trainning.broad.servlet.filter.user.DeleteFilter</filter-class>
	</filter>

</web-app>